<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends 'main.html' %}

    {% block content%}

    <style>
        .room-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>

    <div class="room-container">
        
        <div> <!--Wrapper around the messages and the forms  -->

        
    <h2>{{room.name}}</h2> 

    <p>{{room.description}}</p>

    <div class="comment-wrapper">
        <h3>Conversation</h3>
        <hr>

        {% for message in room_messages %}
            <div>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                <small>@{{message.user}} {{message.created|timesince}} ago</small>
                <p>{{message.body}}</p> 
            </div>
        {% endfor %}

    </div>

     {% if request.user.is_authenticated %} <!--Only an authenticated user can write a message -->
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Write your message here.." />
        </form>
    </div>
    {% endif %}
    </div>
    <div>
        <h3>Participants</h3>
        <hr>
        {% for user in participants %}
            <div>
                <p>@{{user.username}}</p>
            </div>
        {% endfor %}
    </div>
</div>

    {% endblock content %}
</body>
</html>